<ul class="nav nav-pills nav-stacked" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
  <li class="bullet-center" role="presentation" class="active"><a class="logo" href="books"><i class="glyphicon glyphicon-book gi-4x">Libi</i></a></li>
  <li class="bullet-center" role="presentation"><a routerLink="books">My books</a></li>
  <li class="bullet-center" role="presentation"><a routerLink="wishlist">Wishlist</a></li>
  <li class="bullet-center"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button></li>
  <!--<li><file-picker></file-picker></li>-->
  <li><file-uploader></file-uploader></li>

</ul>
