<section class="container-fluid page">
  <!--<sf-header></sf-header>-->
  <section class="row page-container">
    <aside class="col-xs-2">
      <div class="row">
        <div class="navbar__main" role="complementary">
          <sidebar></sidebar>
        </div>
      </div>
    </aside><!-- /.navbar__main -->
    <main class="col-xs-10">
      <div class="main" role="main">
        <section class="content">
          <router-outlet></router-outlet>
        </section><!-- /.content -->
      </div>
    </main><!-- /.main -->
  </section><!-- /.page-container -->
</section><!-- /.page -->
