@import '../../styles/colors.scss';
@import '../../styles/indents.scss';

.book {
  padding: $padding-size-sm 0;
  &:hover {
    transition: background 0.3s;
    background: $grey-lighten;
  }

  &__image {
    text-align: center;
  }

  &__btn {
    margin-top: $margin-size-xxl;
    text-align: center;
  }

  &-list-item{
    position: relative;
  }
}

.img-thumbnail{
  width:100%;
  height: 100%;
  object-fit: contain;
}

.delete{
  position: absolute;
  bottom: 25%;
  right: 10%;
}

.read{
  position: absolute;
  bottom: 5%;
  left: 0;
}
